@model IEnumerable<YourVitebskWebServiceApp.Models.Cafe>

<div class="mb-3">
    <h2>Заведения</h2>
</div>

<div class="table-responsive">
    <table class="table table-striped align-middle">
        <tr>
            <th>ID</th>
            <th>Вид заведения</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Время работы</th>
            <th>Адрес</th>
            <th>Ссылка</th>
            <th><a class="btn btn-outline-dark float-end" asp-controller="Cafes" asp-action="Create">Добавить</a></th>
        </tr>
    
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CafeId</td>
                @foreach (var obj in ViewBag.CafeTypes)
                {
                    @if (obj.CafeTypeId == @item.CafeTypeId)
                    {
                        <td>@obj.Name</td>
                    }
                }
                <td>@item.Title</td>
                <td>
                    <span class="d-inline-block text-truncate" style="max-width: 300px;">@item.Description</span>
                </td>
                <td>
                    <span class="d-inline-block text-truncate" style="max-width: 300px;">@item.WorkingTime</span>
                </td>
                <td>@item.Address</td>
                <td>
                    <span class="d-inline-block text-truncate" style="max-width: 300px;">@item.ExternalLink</span>
                </td>
                <td>
                    <div class="btn-group float-end" role="group">
                        <a class="btn btn-outline-dark" asp-controller="Cafes" asp-action="Edit" asp-route-id="@item.CafeId">Изменить</a>
                        <a class="btn btn-outline-danger" asp-controller="Cafes" asp-action="Delete" asp-route-id="@item.CafeId">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>