@model YourVitebskWebServiceApp.ViewModels.IndexViewModels.NewsIndexViewModel

<div class="mb-3">
    <h2>Новости</h2>
</div>

<form method="get">
    <div class="row mb-3 align-items-center">
        <div class="col">
            <input name="search" value="@Model.Filterer.SearchLine" placeholder="Поиск" class="form-control" />
        </div>
        <div class="col">
            <input type="submit" value="Применить" class="btn btn-outline-dark" />
        </div>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-striped align-middle">
        <tr>
            <th><a asp-action="Index" 
                 asp-route-sort="@Model.Sorter.IdSort"
                 asp-route-search="@Model.Filterer.SearchLine">ID</a>
            </th>
            <th>Заголовок</th>
            <th>Описание</th>
            <th>Ссылка</th>
            <th><a class="btn btn-outline-dark float-end" asp-controller="News" asp-action="Create">Добавить</a></th>
        </tr>
    
        @foreach (var item in Model.Data)
        {
            <tr>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@item.NewsId">@item.NewsId</td>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@item.Title">
                    <span class="d-inline-block text-truncate" style="max-width: 300px;">@item.Title</span>
                </td>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@item.Description">
                    <span class="d-inline-block text-truncate" style="max-width: 300px;">@item.Description</span>
                </td>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@(item.ExternalLink != null ? item.ExternalLink : "Ссылка не указана")">
                    <span class="d-inline-block text-truncate" style="max-width: 300px;"><a href="@item.ExternalLink">@item.ExternalLink</a></span>
                </td>
                <td>
                    <div class="btn-group float-end" role="group">
                        <a class="btn btn-outline-dark" asp-controller="News" asp-action="Edit" asp-route-id="@item.NewsId">Изменить</a>
                        <a class="btn btn-outline-danger" asp-controller="News" asp-action="Delete" asp-route-id="@item.NewsId">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

                    
<div class="container">
    <ul class="pagination justify-content-center">
        @if (Model.Pager.CurrentPage - 1 > Model.Pager.StartPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage - 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine">&lt;</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.StartPage)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine">@(Model.Pager.StartPage)</a>
            </li>
            <li class="page-item">
                ...
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage - 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine">@(Model.Pager.CurrentPage - 1)</a>
            </li>
        }
        else if (Model.Pager.CurrentPage - 1 == Model.Pager.StartPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage - 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine">&lt;</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage - 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine">@(Model.Pager.CurrentPage - 1)</a>
            </li>
        }

        <li class="page-item active">
            <a class="page-link" asp-action="Index" 
             asp-route-page="@Model.Pager.CurrentPage"
             asp-route-sort="@Model.Sorter.Current"
             asp-route-search="@Model.Filterer.SearchLine">@Model.Pager.CurrentPage</a>
        </li>

        @if (Model.Pager.CurrentPage + 1 == Model.Pager.EndPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage + 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine">@(Model.Pager.CurrentPage + 1)</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage + 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine">&gt;</a>
            </li>
        }
        else if (Model.Pager.CurrentPage + 1 < Model.Pager.EndPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage + 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine">@(Model.Pager.CurrentPage + 1)</a>
            </li>
            <li class="page-item">
                ...
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.EndPage)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine">@(Model.Pager.EndPage)</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage + 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine">&gt;</a>
            </li>
        }
    </ul>
</div>