@model IEnumerable<YourVitebskWebServiceApp.Models.Role>
@{
    ViewData["Title"] = "Роли";
}
<h2>@ViewData["Title"]</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Роль</th>
        <th><a asp-controller="Roles" asp-action="Create">Добавить</a></th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.RoleId</td>
            <td>@item.Name</td>

            @if (item.RoleId != 1 && item.RoleId != 2)
            {
                <td>
                    <a asp-controller="Roles" asp-action="Edit" asp-route-id="@item.RoleId">Изменить</a> |
                    <a asp-controller="Roles" asp-action="Delete" asp-route-id="@item.RoleId">Удалить</a>
                </td>
            }
            else
            {
                <td>-</td>
            }
        </tr>
    }
</table>