@model IEnumerable<YourVitebskWebServiceApp.ViewModels.RoleViewModel>
@{
    Pager pager = new Pager();
    int pageNumber = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNumber = pager.CurrentPage;
    }
}

<div class="mb-3">
    <h2>Роли</h2>
</div>

<div class="table-responsive">
    <table class="table table-striped align-middle">
        <tr>
            <th>ID</th>
            <th>Роль</th>
            <th>Права</th>
            <th><a class="btn btn-outline-dark float-end" asp-controller="Roles" asp-action="Create">Добавить</a></th>
        </tr>
    
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RoleId</td>
                <td>@item.Name</td>
                <td>
                    @foreach (var permission in item.Permissions)
                    {
                        <span>@permission </span>
                    }
                </td>

                @if (item.RoleId > 2)
                {
                    <td>
                        <div class="btn-group float-end" role="group">
                            <a class="btn btn-outline-dark" asp-controller="Roles" asp-action="Edit" asp-route-id="@item.RoleId">Изменить</a>
                            <a class="btn btn-outline-danger" asp-controller="Roles" asp-action="Delete" asp-route-id="@item.RoleId">Удалить</a>
                        </div>
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        }
    </table>
</div>

<partial name="_Pager" model="@pager" />