@model YourVitebskWebServiceApp.ViewModels.IndexViewModels.CommentIndexViewModel

<div class="mb-3">
    <h2>Комментарии</h2>
</div>

<form method="get">
    <div class="row mb-3 align-items-center">
        <div class="col">
            <input name="search" value="@Model.Filterer.SearchLine" placeholder="Поиск" class="form-control" />
        </div>
        <div class="col">
            <select name="service" asp-items="@Model.Filterer.Services" class="form-control"></select>
        </div>
        <div class="col">
            <input type="submit" value="Применить" class="btn btn-outline-dark" />
        </div>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-striped align-middle">
        <tr>
            <th><a asp-action="Index" 
                 asp-route-sort="@Model.Sorter.IdSort"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-service="@Model.Filterer.SelectedService">ID</a>
            </th>
            <th><a asp-action="Index" 
                 asp-route-sort="@Model.Sorter.UserSort"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-service="@Model.Filterer.SelectedService">Пользователь</a>
            </th>
            <th><a asp-action="Index" 
                 asp-route-sort="@Model.Sorter.ServiceSort"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-service="@Model.Filterer.SelectedService">Сервис</a>
            </th>
            <th><a asp-action="Index" 
                 asp-route-sort="@Model.Sorter.ItemSort"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-service="@Model.Filterer.SelectedService">Объект</a>
            </th>
            <th>Комментарий</th>
            <th><a asp-action="Index" 
                 asp-route-sort="@Model.Sorter.IsRecommendSort"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-service="@Model.Filterer.SelectedService">Рекомендует</a>
            </th>
            <th><a asp-action="Index" 
                 asp-route-sort="@Model.Sorter.DateSort"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-service="@Model.Filterer.SelectedService">Дата</a>
            </th>
            <th></th>
        </tr>
    
        @foreach (var item in Model.Data)
        {
            <tr>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@item.CommentId">@item.CommentId</td>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@item.UserEmail">@item.UserEmail</td>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@item.Service">@item.Service</td>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@item.ItemName">@item.ItemName</td>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@item.Message">
                    <span class="d-inline-block text-truncate" style="max-width: 300px;">@item.Message</span>
                </td>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@item.IsRecommend">@item.IsRecommend</td>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@item.PublishDate">@item.PublishDate</td>
                <td>
                    <div class="btn-group float-end" service="group">
                        <a class="btn btn-outline-danger" asp-controller="Comments" asp-action="Delete" asp-route-id="@item.CommentId">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
                 
<div class="container">
    <ul class="pagination justify-content-center">
        @if (Model.Pager.CurrentPage - 1 > Model.Pager.StartPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage - 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-service="@Model.Filterer.SelectedService">&lt;</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.StartPage)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-service="@Model.Filterer.SelectedService">@(Model.Pager.StartPage)</a>
            </li>
            <li class="page-item">
                ...
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage - 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-service="@Model.Filterer.SelectedService">@(Model.Pager.CurrentPage - 1)</a>
            </li>
        }
        else if (Model.Pager.CurrentPage - 1 == Model.Pager.StartPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage - 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-service="@Model.Filterer.SelectedService">&lt;</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage - 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-service="@Model.Filterer.SelectedService">@(Model.Pager.CurrentPage - 1)</a>
            </li>
        }

        <li class="page-item active">
            <a class="page-link" asp-action="Index" 
             asp-route-page="@Model.Pager.CurrentPage"
             asp-route-sort="@Model.Sorter.Current"
             asp-route-search="@Model.Filterer.SearchLine"
             asp-route-service="@Model.Filterer.SelectedService">@Model.Pager.CurrentPage</a>
        </li>

        @if (Model.Pager.CurrentPage + 1 == Model.Pager.EndPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage + 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-service="@Model.Filterer.SelectedService">@(Model.Pager.CurrentPage + 1)</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage + 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-service="@Model.Filterer.SelectedService">&gt;</a>
            </li>
        }
        else if (Model.Pager.CurrentPage + 1 < Model.Pager.EndPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage + 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-service="@Model.Filterer.SelectedService">@(Model.Pager.CurrentPage + 1)</a>
            </li>
            <li class="page-item">
                ...
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.EndPage)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-service="@Model.Filterer.SelectedService">@(Model.Pager.EndPage)</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage + 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-service="@Model.Filterer.SelectedService">&gt;</a>
            </li>
        }
    </ul>
</div>