@model IEnumerable<YourVitebskWebServiceApp.Models.Comment>
@{
    ViewData["Title"] = "Комментарии";
}
<h2>@ViewData["Title"]</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Сервис</th>
        <th>Пользователь</th>
        <th>Комментарий</th>
    </tr>
    
    // Изменить модель Сomment: добавить ссылки на объекты сервис и данных пользователя !!!!!!!

    @foreach (var item in Model)
    {
        @foreach (var service in ViewBag.Services)
        {
            @if (item.ServiceId == service.ServiceId)
            {
                @foreach (var userDatum in ViewBag.UserData)
                {
                    @if (item.UserDataId == userDatum.UserDataId)
                    {
                        <tr>
                            <td>@item.CommentId</td>
                            <td>@service.Name</td>
                            <td>@userDatum.FirstName @userDatum.LastName</td>
                            <td>@item.Message</td>
                            <td>
                                <a asp-controller="Comment" asp-action="Delete" asp-route-id="@item.CommentId">Удалить</a>
                            </td>
                        </tr>
                    }
                }
            }
        }
    }
</table>