@model IEnumerable<YourVitebskWebServiceApp.Models.Service>
@{
    ViewData["Title"] = "Сервисы";
}
<h2>@ViewData["Title"]</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Сервис</th>
        <th><a asp-controller="Service" asp-action="Create">Добавить</a></th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ServiceId</td>
            <td>@item.Name</td>

            <td>
                <a asp-controller="Service" asp-action="Edit" asp-route-id="@item.ServiceId">Изменить</a> |
                <a asp-controller="Service" asp-action="Delete" asp-route-id="@item.ServiceId">Удалить</a>
            </td>
        </tr>
    }
</table>