@model YourVitebskWebServiceApp.Models.Vacancy

<div class="row mb-3">
    <div class="col-auto me-auto">
        <h2>Удаление вакансии</h2>
    </div>
    <div class="col-auto">
        <a asp-controller="Vacancies" asp-action="Index">Вернуться к списку</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped align-middle">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Требования</th>
            <th>Условия</th>
            <th>З/п</th>
            <th>Компания-наниматель</th>
            <th>Контакты</th>
            <th>Адрес</th>
            <th>Дата публикации</th>
        </tr>
        <tr>
            <td>@Model.VacancyId</td>
            <td>@Model.Title</td>
            <td>
                <span class="d-inline-block text-truncate" style="max-width: 300px;">@Model.Description</span>
            </td>
            <td>
                <span class="d-inline-block text-truncate" style="max-width: 300px;">@Model.Requirements</span>
            </td>
            <td>
                <span class="d-inline-block text-truncate" style="max-width: 300px;">@Model.Conditions</span>
            </td>
            <td>@Model.Salary</td>
            <td>@Model.CompanyName</td>
            <td>
                <span class="d-inline-block text-truncate" style="max-width: 300px;">@Model.Contacts</span>
            </td>
            <td>@Model.Address</td>
            <td>@Model.PublishDate.ToString("D", new System.Globalization.CultureInfo("ru-RU"))</td>
        </tr>
    </table>
</div>
 
<form asp-action="Delete" asp-controller="Vacancies" method="post">
    <div class="mb-3">
        <input type="submit" class="btn btn-outline-danger" value="Удалить" />
    </div>
</form>