@model IEnumerable<YourVitebskWebServiceApp.Models.Vacancy>

<div class="mb-3">
    <h2>Вакансии</h2>
</div>

<div class="table-responsive">
    <table class="table table-striped align-middle">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Описание</th>
            <th>З/п</th>
            <th>Компания-наниматель</th>
            <th>Контакты</th>
            <th>Адрес</th>
            <th>Дата публикации</th>
            <th><a class="btn btn-outline-dark float-end" asp-controller="Vacancies" asp-action="Create">Добавить</a></th>
        </tr>
    
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.VacancyId</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Salary</td>
                <td>@item.CompanyName</td>
                <td>@item.Contacts</td>
                <td>@item.Address</td>
                <td>@item.PublishDate.ToString("yyyy-MM-dd")</td>
                <td>
                    <div class="btn-group float-end" role="group">
                        <a class="btn btn-outline-dark" asp-controller="Vacancies" asp-action="Edit" asp-route-id="@item.VacancyId">Изменить</a>
                        <a class="btn btn-outline-danger" asp-controller="Vacancies" asp-action="Delete" asp-route-id="@item.VacancyId">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>