@model YourVitebskWebServiceApp.Models.Poster

<div class="row mb-3">
    <div class="col-auto me-auto">
        <h2>Удаление афиши</h2>
    </div>
    <div class="col-auto">
        <a asp-controller="Posters" asp-action="Index">Вернуться к списку</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped align-middle">
        <tr>
            <th>ID</th>
            <th>Вид события</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Время</th>
            <th>Адрес</th>
            <th>Ссылка</th>
        </tr>
        <tr>
            <td>@Model.PosterId</td>
            <td>@ViewBag.PosterType</td>
            <td>@Model.Title</td>
            <td>
                <span class="d-inline-block text-truncate" style="max-width: 300px;">@Model.Description</span>
            </td>
            <td>
                <span class="d-inline-block text-truncate" style="max-width: 300px;">@Model.DateTime</span>
            </td>
            <td>@Model.Address</td>
            <td>
                <span class="d-inline-block text-truncate" style="max-width: 300px;">@Model.ExternalLink</span>
            </td>
        </tr>
    </table>
</div>
 
<form asp-action="Delete" asp-controller="Posters" method="post">
    <div class="mb-3">
        <input type="submit" class="btn btn-outline-danger" value="Удалить" />
    </div>
</form>