@model IEnumerable<YourVitebskWebServiceApp.ViewModels.Poster>

<div class="mb-3">
    <h2>Афиша</h2>
</div>

<div class="table-responsive">
    <table class="table table-striped align-middle">
        <tr>
            <th>ID</th>
            <th>Тип</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Дата и время</th>
            <th>Адрес</th>
            <th>Ссылка</th>
            <th><a class="btn btn-outline-dark float-end" asp-controller="Posters" asp-action="Create">Добавить</a></th>
        </tr>
    
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PosterId</td>
                <td>@item.PosterType</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.DateTime</td>
                <td>@item.Address</td>
                <td>@item.ExternalLink</td>
                <td>
                    <div class="btn-group float-end" role="group">
                        <a class="btn btn-outline-dark" asp-controller="Posters" asp-action="Edit" asp-route-id="@item.PosterId">Изменить</a>
                        <a class="btn btn-outline-danger" asp-controller="Posters" asp-action="Delete" asp-route-id="@item.PosterId">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>