@model YourVitebskWebServiceApp.ViewModels.IndexViewModels.PosterIndexViewModel

<div class="mb-3">
    <h2>Афиши</h2>
</div>

<form method="get">
    <div class="row mb-3 align-items-center">
        <div class="col">
            <input name="search" value="@Model.Filterer.SearchLine" placeholder="Поиск" class="form-control" />
        </div>
        <div class="col">
            <select name="posterType" asp-items="@Model.Filterer.PosterTypes" class="form-control"></select>
        </div>
        <div class="col">
            <input type="submit" value="Применить" class="btn btn-outline-dark" />
        </div>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-striped align-middle">
        <tr>
            <th><a asp-action="Index" 
                 asp-route-sort="@Model.Sorter.IdSort"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-posterType="@Model.Filterer.SelectedPosterType">ID</a>
            </th>
            <th><a asp-action="Index" 
                 asp-route-sort="@Model.Sorter.PosterTypeSort"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-posterType="@Model.Filterer.SelectedPosterType">Вид события</a></th>
            <th><a asp-action="Index" 
                 asp-route-sort="@Model.Sorter.TitleSort"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-posterType="@Model.Filterer.SelectedPosterType">Название</a></th>
            <th>Описание</th>
            <th>Время</th>
            <th>Адрес</th>
            <th>Ссылка</th>
            <th><a class="btn btn-outline-dark float-end" asp-controller="Posters" asp-action="Create">Добавить</a></th>
        </tr>
    
        @foreach (var item in Model.Data)
        {
            <tr>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@item.PosterId">@item.PosterId</td>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@item.PosterType">@item.PosterType</td>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@item.Title">@item.Title</td>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@item.Description">
                    <span class="d-inline-block text-truncate" style="max-width: 300px;">@item.Description</span>
                </td>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@item.DateTime">
                    <span class="d-inline-block text-truncate" style="max-width: 300px;">@item.DateTime</span>
                </td>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@item.Address">@item.Address</td>
                <td data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@(item.ExternalLink != null ? item.ExternalLink : "Ссылка не указана")">
                    <span class="d-inline-block text-truncate" style="max-width: 300px;"><a href="@item.ExternalLink">@item.ExternalLink</a></span>
                </td>
                <td>
                    <div class="btn-group float-end" posterType="group">
                        <a class="btn btn-outline-dark" asp-controller="Posters" asp-action="Edit" asp-route-id="@item.PosterId">Изменить</a>
                        <a class="btn btn-outline-danger" asp-controller="Posters" asp-action="Delete" asp-route-id="@item.PosterId">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
                  
<div class="container">
    <ul class="pagination justify-content-center">
        @if (Model.Pager.CurrentPage - 1 > Model.Pager.StartPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage - 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-posterType="@Model.Filterer.SelectedPosterType">&lt;</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.StartPage)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-posterType="@Model.Filterer.SelectedPosterType">@(Model.Pager.StartPage)</a>
            </li>
            <li class="page-item">
                ...
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage - 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-posterType="@Model.Filterer.SelectedPosterType">@(Model.Pager.CurrentPage - 1)</a>
            </li>
        }
        else if (Model.Pager.CurrentPage - 1 == Model.Pager.StartPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage - 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-posterType="@Model.Filterer.SelectedPosterType">&lt;</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage - 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-posterType="@Model.Filterer.SelectedPosterType">@(Model.Pager.CurrentPage - 1)</a>
            </li>
        }

        <li class="page-item active">
            <a class="page-link" asp-action="Index" 
             asp-route-page="@Model.Pager.CurrentPage"
             asp-route-sort="@Model.Sorter.Current"
             asp-route-search="@Model.Filterer.SearchLine"
             asp-route-posterType="@Model.Filterer.SelectedPosterType">@Model.Pager.CurrentPage</a>
        </li>

        @if (Model.Pager.CurrentPage + 1 == Model.Pager.EndPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage + 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-posterType="@Model.Filterer.SelectedPosterType">@(Model.Pager.CurrentPage + 1)</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage + 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-posterType="@Model.Filterer.SelectedPosterType">&gt;</a>
            </li>
        }
        else if (Model.Pager.CurrentPage + 1 < Model.Pager.EndPage)
        {
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage + 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-posterType="@Model.Filterer.SelectedPosterType">@(Model.Pager.CurrentPage + 1)</a>
            </li>
            <li class="page-item">
                ...
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.EndPage)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-posterType="@Model.Filterer.SelectedPosterType">@(Model.Pager.EndPage)</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-action="Index" 
                 asp-route-page="@(Model.Pager.CurrentPage + 1)"
                 asp-route-sort="@Model.Sorter.Current"
                 asp-route-search="@Model.Filterer.SearchLine"
                 asp-route-posterType="@Model.Filterer.SelectedPosterType">&gt;</a>
            </li>
        }
    </ul>
</div>