@model IEnumerable<YourVitebskWebServiceApp.ViewModels.BusSheduleViewModel>

<div class="mb-3">
    <h2>Расписания движения автобусов</h2>
</div>

<div class="table-responsive">
    <table class="table table-striped align-middle">
        <tr>
            <th>ID</th>
            <th>Автобус</th>
            <th>Номер маршрута</th>
            <th>Номер остановки</th>
            <th>Остановка</th>
            <th>Расписание рабочего дня</th>
            <th>Расписание выходного дня</th>
            <th><a class="btn btn-outline-dark float-end" asp-controller="BusShedules" asp-action="Create">Добавить</a></th>
        </tr>
    
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BusSheduleId</td>
                <td>Автобус №@item.BusNumber</td>
                <td>@item.BusRoute</td>
                <td>@item.BusStopNumber</td>
                <td>@item.BusStopName</td>
                <td>
                    <span class="d-inline-block text-truncate" style="max-width: 300px;">@item.WorkDayShedule</span>
                </td>
                <td>
                    <span class="d-inline-block text-truncate" style="max-width: 300px;">@item.DayOffShedule</span>
                </td>
                <td>
                    <div class="btn-group float-end" role="group">
                        <a class="btn btn-outline-dark" asp-controller="BusShedules" asp-action="Edit" asp-route-id="@item.BusSheduleId">Изменить</a>
                        <a class="btn btn-outline-danger" asp-controller="BusShedules" asp-action="Delete" asp-route-id="@item.BusSheduleId">Удалить</a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>